<div class="row">
    <div class="col-md-7">
        <div>
            <h3 id="quizLanguage">{{ stats.language }}</h3>
            <p id="quizNewWord" ng-if="isNewCard()">New Word</p>
        </div>

        <div id="quizForm">
            <form name="quizForm" ng-submit="nextCard()">
                <div id="quizText">
                    <span ng-repeat="word in currentCard.sentenceBefore">
                        <span ng-click="wordInfo(word)">
                            {{ word.hasOwnProperty('form') ? word.form : word }}
                        </span>
                    </span>
                    <input name="guess" id="quizInput" type="text" autocomplete="off" ng-readonly="answer !== ''"
                           ng-model="guess" placeholder="{{ answer }}" autofocus required
                           size="{{ currentCard.answer.form.length }}" />
                    <span ng-repeat="word in currentCard.sentenceAfter">
                        <span ng-click="wordInfo(word)">
                            {{ word.hasOwnProperty('form') ? word.form : word }}
                        </span>
                    </span>
                </div>
                <p id="quizTextTranslation" ng-bind-html="currentCard.english"></p>
                <p ng-bind-html="currentCard.grammar"></p>
            </form>
            <div>
                <button type="button" class="btn" id="translateButton" ng-click="seeTranslation()">See Translation</button>
                <p id="englishTranslationText"></p>
            </div>
        </div>

        <div ng-if="showingInfo">
            <dl>
                <dt>{{ dictionaryEntry.join(" ") }} ({{ stem }}-)</dt>
                <dd>{{ definition }}</dd>
            </dl>

            <div ng-repeat="obj in forms" class="row">
                <div ng-if="obj.hasOwnProperty('data')">
                    <h5>{{ [obj.tense, obj.mood, obj.voice].join(" ") }}</h5>
                    <table class="table">
                        <thead class="thead">
                        <tr>
                            <th>Person</th>
                            <th>Sg.</th>
                            <th>Pl.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in obj.data">
                            <td>{{ row[0] }}</td>
                            <td ng-repeat="col in row.slice(1)">
                                {{ col }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="obj.hasOwnProperty('form')">
                    <dl>
                        <dt>{{ [obj.tense, obj.voice, obj.mood].join(" ") }}</dt>
                        <dd>{{ obj.form }}</dd>
                    </dl>
                </div>
            </div>

            <!-- Button to hide info. -->
        </div>
    </div>

    <div class="col-md-1">
        <button type="button" class="btn btn-lg" id="quizNextButton" ng-click="nextCard()">Next</button>
    </div>

    <div class="col-md-3 col-md-offset-1" ng-if="learnedWords.length > 0">
        <h3>Your Vocabulary</h3>
        <table id="vocabularyProgressTable">
            <thead>
            <tr>
                <th>Word</th>
                <th>Progress</th>
            </tr>
            </thead>
            <tbody ng-repeat="word in learnedWords | orderBy:'progress'">
            <tr ng-if="word.seen">
                <td>{{ word.form }}</td>
                <td>{{ word.progress }}</td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
