/* app css stylesheet */

#quizForm {
    border: 2px solid #000000;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

#quizText {
    font-family: "Iowan Old Style", "Times New Roman", serif;
    font-size: 1.7em;
    color: olive;
}

#quizInput {
    border: none;
    outline: none;
    padding: 10px;
    background-color: #ffeedd;
}

#quizTextTranslation {
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 1em;
    font-style: italic;
    color: olivedrab;
}

#quizNewWord {
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 1.2em;
    color: tomato;
    display: inline-block;
}

#quizLanguage {
    margin-right: 15px;
    display: inline-block;
}

#quizNextButton {
    float: right;
    border: 1px solid lightblue;
    background-color: #EDEEEE;
}

#englishTranslationText {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0px;
}

#quizNextButton:hover {
    background-color: #DEEEEE;
}

#vocabularyProgressTable {
    width: 300px;
}

.grammarTable {
    display: inline;
}