/* app css stylesheet */

$dark-red: #8A0707;
$white-smoke: #FBF5f3;
$pewter-blue: #8DAA9D;
$wine-dregs: #522B47;
$smoky-black: #0F0E0E;

html, body {
  background-color: $white-smoke;
}

@mixin centered() {
  display: table;
  margin: 0 auto;
}

@mixin placeholder($color, $size:"") {
  &::-webkit-input-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
  &:-moz-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
  &::-moz-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
  &:-ms-input-placeholder {
    color: $color;
    @if $size != "" {
      font-size: $size;
    }
  }
}

[placeholder] {
  @include placeholder($dark-red);
}

#quizForm {
  border: 2px solid $smoky-black;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

#quizText {
  font-family: "Iowan Old Style", "Times New Roman", serif;
  font-size: 1.7em;
  color: $wine-dregs;
}

#quizInput {
  border: none;
  outline: none;
  padding: 10px;
  background-color: $pewter-blue;
}

#quizTextTranslation {
  font-family: "Verdana", "Arial", sans-serif;
  font-size: 1em;
  font-style: italic;
  color: $pewter-blue;
}

#quizNewWord {
  font-family: "Verdana", "Arial", sans-serif;
  font-size: 1.2em;
  color: $dark-red;
  display: inline-block;
}

#quizLanguage {
  margin-right: 15px;
  display: inline-block;
}

#quizNextButton {
  color: $white-smoke;
  background-color: $pewter-blue;
  border: 3px solid $white-smoke;
  border-radius: 0px;
  float: right;
}

#quizNextButton:hover {
  background-color: $wine-dregs;
  border: 3px solid $wine-dregs;
}

#translateButton {
  @extend #quizNextButton;
  float: none;
}

#englishTranslationText {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 0px;
}

#vocabularyProgressTable {
  width: 300px;
}

.grammarTable {
  display: inline;
}