<h3>{{ stats.language }}</h3>

<div>
    <span ng-if="isNewCard()">New Word</span>
    <form name="quizForm">
        <span ng-bind-html="currentCard.sentenceBefore"></span>
        <input name="guess" type="text" ng-model="guess" placeholder="{{ answer }}" autofocus required />
        <span ng-bind-html="currentCard.sentenceAfter"></span>
    </form>
    <p ng-bind-html="currentCard.english"></p>
    <p ng-bind-html="currentCard.grammar"></p>
    <button ng-click="nextCard()">Next</button>
</div>
